.upcoming_day {
	font-style:italic;
}
.upcoming_title {
	line-height: 120%;
	font-weight: bold;
	margin-top: 3px;
	margin-right: 0px;
	margin-bottom: 3px;
	margin-left: 0px;
	text-decoration: none;
	font-size: 115%;
}
.eventimage{
	float: left;
	margin-right: 3px;
	margin-left: 0px;
}
